<template>
  <b-container fluid style="padding:5px;">
    <b-form-row>
      <b-col md="2">
        <div>
          <blueprint-content-list title="Content" :content="content(blueprint.entities)"/>
        </div>
        <div>
          <blueprint-content-list title="Output" :content="recipes(blueprint.entities)"/>
        </div>
      </b-col>
      <b-col>
        <BlueprintPreview style="padding:0;" :jsonData="blueprint.entities" :title="blueprint.label"/>
      </b-col>
    </b-form-row>
  </b-container>
</template>

<script>

import BlueprintPreview from './BlueprintPreview.vue'
import BlueprintContentList from './BlueprintContentList.vue'
import _ from 'lodash'

export default {
  name: 'BluePrint',
  props: {
    blueprint: Object
  },
  components: {
    BlueprintContentList,
    BlueprintPreview
  },
  methods: {
    content(entities) {
      const countObj = _.countBy(
        _.filter(entities, (entity) => {
          return !entity.name.startsWith('logistic_train_stop');
        }), (entity) => {
          if(entity.name.endsWith('rail')) {
            return 'rail';
          }
          return entity.name;
        });
      return _.map(_.keys(countObj), (itemType) => {
        return {
        type: itemType,
        count: countObj[itemType],
        };
      });
    },
    recipes(entities) {
      const makingRecipes = _.filter(entities, 'recipe');
      const countRecipes = _.countBy(makingRecipes, 'recipe');
      return _.map(_.keys(countRecipes), (recipe) => {
        return {
          type: recipe,
          count: countRecipes[recipe],
        };
      });
    },
  }
}
</script>

