<template>
    <form>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" v-model="blueprint.title">
        </div>

        <div class="form-group">
            <label>Subtitle</label>
            <b-form-textarea
              v-model="blueprint.subtitle"
              rows="3"
            ></b-form-textarea>
        </div>

        <div class="form-group">
            <label>Source URL</label>
            <input type="text" class="form-control" v-model="blueprint.src_url">
        </div>

        <vue-simplemde v-model="blueprint.description"></vue-simplemde>

        <div class="form-group">
            <b-form-textarea
              v-on:update="decode"
              v-model="blueprint.encoded"
              placeholder="Blueprint value"
              rows="4"
              max-rows="6"
            ></b-form-textarea>
        </div>

        <b-card no-body v-if="decodedBlueprints.length > 0">
          <b-tabs pills card v-on:input="selectedIndex = $event">
            <b-tab :title="bp.blueprint.label" v-for="(bp, index) in decodedBlueprints" v-bind:key="index">
              <blueprint v-if="index == selectedIndex" :blueprint="bp.blueprint"/>
            </b-tab>
          </b-tabs>
        </b-card>
    </form>
</template>
<script>

import Blueprint from './Blueprint.vue';
import VueSimplemde from 'vue-simplemde'
import util from '../util';

export default {
    props: {
        blueprint: Object
    },
    components: {
        VueSimplemde,
        Blueprint
    },
    data: function() {
        return {
            decodedBlueprints: [],
            selectedIndex: -1
        }
    },
    watch: {
        blueprint: function(newVal, oldVal) {
            if(newVal !== oldVal) {
                this.decode();
            }
        }
    },
    methods: {
        decode() {
            try {
                let decodedData = util.decodeBlueprint(this.blueprint.encoded);
                this.decodedBlueprints = util.blueprintListFromJsonData(decodedData);
            } catch(e) {
                this.$store.commit('error', e)
                this.decodedBlueprints = [];
            }
        }
    }
}
</script>
