<template>
	<b-card no-body style="width:100%;" :header="title">
		<div v-for="itemData in content" v-bind:key="itemData.type">
			<span>
				<FactorioIcon :icon-id="itemData.type"/> 
			</span>
			<span>{{itemData.count}}</span>
		</div>
	</b-card>
</template>
<script type="text/javascript">

import FactorioIcon from './FactorioIcon.vue';
export default {
	props: {
		title: String,
		content: Array
	},
	components: {
		FactorioIcon
	}
}
</script>