<template>
  <b-card header="Preview" no-body>
    <div>
      <canvas ref="rendercanvas" style="width:100%;height:100%;" width="1024" height="1024">
        <p>Canvas not supported</p>
      </canvas>
    </div>
  </b-card>
</template>

<script>
import _ from 'lodash';
import renderer from 'blueprint-renderer';
import util from '../util'

export default {
    props: {
        jsonData: Array,
        title: String
    },
    data() {
      return {
        preRenderCanvas: document.createElement('canvas'),
        zoom: 1,
        mouseDown: false,
        startDragOffset: {},
        translatePos: {
          x: 0,
          y: 0
        }
      };
    },
    watch: {
      jsonData: function(val) {
        this.preRender(val);
      }
    },
    methods: {
      preRender(entities) {
        var vm = this;
        const canvas = this.$refs.rendercanvas;
        const ctx = this.preRenderCanvas.getContext('2d');
        renderer.render(ctx, entities).then(function() {
          let zoomX = 1024 / vm.preRenderCanvas.width;
          let zoomY = 1024 / vm.preRenderCanvas.height;
          vm.zoom = Math.min(zoomX, zoomY);

          vm.$nextTick(() => {
            vm.render();
          });
        });
      },
      render() {
        const canvas = this.$refs.rendercanvas;
        const context = canvas.getContext('2d');
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.setTransform(1, 0, 0, 1, 0, 0);
        context.clearRect(0, 0, canvas.width, canvas.height);
        context.setTransform(this.zoom, 0, 0, this.zoom, this.translatePos.x, this.translatePos.y);

        let tileSize = 32;
        let startRow = Math.floor(-this.translatePos.y / this.zoom / tileSize);
        let nbRow = canvas.height / this.zoom / tileSize;
        let startCol = Math.floor(-this.translatePos.x / this.zoom / tileSize);
        let nbCol = canvas.width / this.zoom / tileSize;

        for(let row = startRow; row <= startRow + nbRow; row++) {
          for(let col = startCol; col <= startCol + nbCol; col++) {
            context.fillStyle = (col + row) % 2 ? '#333333' : '#555555'
            context.fillRect(col * tileSize - 1, row * tileSize - 1, tileSize + 2, tileSize + 2);
          }
        }

        context.drawImage(this.preRenderCanvas, 0, 0);
      }
    },
    mounted() {
      this.preRender(this.jsonData);
      let scaleMultiplier = 0.9;
      let vm = this;
      const canvas = this.$refs.rendercanvas;
      // add event listeners to handle screen drag
      canvas.addEventListener("mousedown", function(evt){
          vm.mouseDown = true;
          vm.startDragOffset.x = evt.clientX - vm.translatePos.x;
          vm.startDragOffset.y = evt.clientY - vm.translatePos.y;
      });

      canvas.addEventListener("mouseup", function(evt){
          vm.mouseDown = false;
      });

      canvas.addEventListener("mouseover", function(evt){
          vm.mouseDown = false;
      });

      canvas.addEventListener("mouseout", function(evt){
          vm.mouseDown = false;
      });

      canvas.addEventListener("mousemove", function(evt){
          if (vm.mouseDown) {
              vm.translatePos.x = evt.clientX - vm.startDragOffset.x;
              vm.translatePos.y = evt.clientY - vm.startDragOffset.y;
              vm.render();
          }
      });

      canvas.addEventListener('wheel',function(event){
        if(event.deltaY > 0) {
          vm.zoom *= scaleMultiplier;
          vm.translatePos.x -= event.layerX * (scaleMultiplier - 1);
          vm.translatePos.y -= event.layerY * (scaleMultiplier - 1);
        } else if(event.deltaY < 0) {
          vm.zoom /= scaleMultiplier;
          vm.translatePos.x -= event.layerX * (1 - scaleMultiplier);
          vm.translatePos.y -= event.layerY * (1 - scaleMultiplier);
        }
        vm.render();
        event.preventDefault();
      }, false);
    }
}
</script>
