<template>
	<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" :title="iconId" :style="cssclipstyle"/>
</template>
<script type="text/javascript">
	import renderer from 'blueprint-renderer';
	import util from '../util'

	export default {
		props: {
			iconId: ''
		},
		computed: {
			cssclipstyle() {
				return renderer.cssClipIcon(this.iconId);
			}
		}
	}
</script>
<style type="scss">
img {
	border: none
}
</style>