<template>
  <div id="app">
    <link rel="stylesheet" 
        href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" 
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" 
        crossorigin="anonymous">
        
    <b-navbar class="bg-warning" toggleable="lg" type="dark" variant="info">
      <b-navbar-brand to="/">Fuel for Factorio</b-navbar-brand>
      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item to="/popular">Most starred</b-nav-item>
          <b-nav-item v-if="username" to="/mine">My blueprints</b-nav-item>
          <b-nav-item v-if="username" to="/starred">My favorites</b-nav-item>
          <b-nav-item v-if="username" to="/post">Post blueprint</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item right to="/contact">Contact</b-nav-item>
          <b-nav-item right v-if="!username" to="/register">Sign up</b-nav-item>
          <b-nav-item right v-if="!username" to="/login">Sign in</b-nav-item>
          <b-nav-item-dropdown v-if="username" right>
            <template slot="button-content"><em>{{username}}</em></template>
            <!--b-dropdown-item href="#">Profile</b-dropdown-item-->
            <b-dropdown-item v-on:click="logout">Sign Out</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <!--b-alert variant="info" fade show dismissible>
      New functions: filter by tags and "most starred" page.
    </b-alert-->

    <b-alert variant="danger" v-for="(error, index) in errors" v-bind:key="index" show fade dismissible>
      {{error}}
    </b-alert>

    <b-container>
      <router-view/>
    </b-container>
  </div>
</template>

<script lang="ts">
import axios from 'axios'

export default {
  created() {
    this.getLoginInfo();
  },
  computed: {
    errors() {
      return this.$store.state.errors;
    },
    username: function() {
      return this.$store.state.userdata.username
    },
  },
  methods: {
    getLoginInfo: function() {
      this.$store.dispatch('getAuthenticatedUser');
    },
    logout: function() {
      this.$store.dispatch('logout');
    }
  }
}
</script>

<style lang="scss">
@import "src/assets/sass/main.scss";
</style>
