<template>
    <div>
        <div>
          <button type="submit" class="btn btn-warning" v-on:click="submit">Submit</button>
        </div>
        <BlueprintEditor v-on:submit="submit" :blueprint="blueprint"/>
    </div>
</template>
<script>
import axios from 'axios';
import BlueprintEditor from '../components/BlueprintEditor.vue'

export default {
    props: {
        id: String
    },
    data() {
        return {
            blueprint: {},
            blueprintData: null,
            errors: []
        }
    },
    metaInfo() {
        return {
        title: this.blueprint.title,
        titleTemplate: 'F4F %s',
        };
    },
    created() {
        axios.get(`/blueprint/` + this.id)
            .then(response => {
                this.blueprint = response.data;
            })
            .catch(e => {
                this.$store.commit('error', e.response.data)
            })
    },
    components: {
      BlueprintEditor
    },
    methods: {
        submit() {
            let router = this.$router
            axios.put(`/blueprint`, {
                id: Number(this.id),
                title: this.blueprint.title,
                subtitle: this.blueprint.subtitle,
                src_url: this.blueprint.src_url,
                encoded: this.blueprint.encoded,
                description: this.blueprint.description},
                {withCredentials: true})
            .then(() => {
                router.push({ path: '/' + this.id})
            })
            .catch((e) => {
              this.$store.commit('error', e.response.data)
            })
        }
    }
}
</script>