<template>
  <div v-show="blueprintData">
    <b-card
      :title="apiResponse.title"
      :sub-title="apiResponse.subtitle"
      style="width:100%;"
    >
      <div ref="markdownRender">
      </div>
      <b-card-text>
        Created by {{apiResponse.username}} {{apiResponse.created_at | formatDate}}
      </b-card-text>

      <b-card-text v-if="apiResponse.src_url">
        Source: <a :href="apiResponse.src_url">{{apiResponse.src_url}}</a>
      </b-card-text>
      
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 text-right">
            <b-button v-if="userLogged" :pressed="starred" variant="primary" v-on:click="toggleStar">
              <font-awesome-icon icon="star"></font-awesome-icon> {{saveButtonLabel}}
            </b-button>
            <b-button variant="primary" v-clipboard:copy="apiResponse.encoded">
              <font-awesome-icon icon="clipboard-list"></font-awesome-icon> Copy blueprint
            </b-button>
            <b-button class="navbar-right" variant="primary" v-if="ownedByLoggedUser" :to="{ name: 'blueprint-edit', params: { id: id }}">
              <font-awesome-icon icon="edit"></font-awesome-icon> Edit
            </b-button>
            <b-button class="navbar-right" v-b-toggle.delete-confirm variant="primary" v-if="ownedByLoggedUser">
              <font-awesome-icon icon="times"></font-awesome-icon> Delete
            </b-button>
          </div>
        </div>
      </div>
    </b-card>
    <b-card 
      title="Tags">
        <h4>
          <b-badge
            v-for="tag in tags"
            v-bind:key="tag"
            variant="warning"
            style="margin: 2px;">
            {{tag}}
            <b-button v-if="ownedByLoggedUser" variant="primary"  
              v-on:click="removeTag(tag)" style="padding:7px;">
                <font-awesome-icon icon="times"></font-awesome-icon>
            </b-button>
          </b-badge>
          <div v-if="ownedByLoggedUser" style="display: flex;">
            <b-form-input
              v-model="tagEditorContent"
              required
              placeholder="Add tag"
              list="tag-list">
            </b-form-input>
            <datalist id="tag-list">
              <option v-for="value in tagDB" v-bind:key="value">{{value}}</option>
            </datalist>
            <b-button id="add-tag-btn" v-if="ownedByLoggedUser" variant="primary"
              v-on:click="addTag()">
                <font-awesome-icon icon="plus-square"></font-awesome-icon>
            </b-button>
          </div>
        </h4>

      
    </b-card>
    <b-collapse id="delete-confirm" class="mt-2">
      <b-button v-on:click="deleteBlueprint">Yes</b-button>
      <b-button v-b-toggle.delete-confirm>No</b-button>
    </b-collapse>
    <b-card no-body>
      <b-tabs pills card v-on:input="selectedIndex = $event">
        <b-tab :title="bp.blueprint.label" v-for="(bp, index) in blueprintList" v-bind:key="index">
          <blueprint v-if="index == selectedIndex" :blueprint="bp.blueprint"/>
        </b-tab>
      </b-tabs>
    </b-card>

    <!-- comment section -->
    <div>
      <b-card v-for="comment in comments" v-bind:key="comment.id">
        <b-card-text>
          <b-form-textarea
            readonly
            :value="comment.content"
            rows="1"
            max-rows="6"
          ></b-form-textarea>
        </b-card-text>
        <div class="text-right">
          <span style="margin:10px;">
            Posted by {{comment.username}} on {{comment.created_at | formatDate}}
          </span>
          <b-link v-if="userLogged === comment.username" v-b-toggle.delete-confirm variant="primary" v-on:click="deleteComment(comment.id)">
            <font-awesome-icon icon="times"></font-awesome-icon> Delete
          </b-link>
        </div>
      </b-card>

      <form v-if="userLogged">
        <div class="form-group">
          <b-form-textarea
            v-model="commentEditorContent"
            placeholder="Post a comment"
            rows="4"
            max-rows="6"
          ></b-form-textarea>
        </div>
        <button type="submit" class="btn btn-warning" v-on:click="submitComment">Send</button>
      </form>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import Blueprint from '../components/Blueprint.vue';
import util from '../util';
import marked from 'marked';

export default {
  name: 'BluePrint',
  props: {
    id: String
  },
  components: {
    Blueprint
  },
  data: function() {
    return {
      selectedIndex: -1,
      apiResponse: {},
      blueprintData: null,
      starred: false,
      tags: [],
      comments: [],
      commentEditorContent: '',
      tagEditorContent: ''
    };
  },
  metaInfo() {
    return {
      title: this.apiResponse.title,
      titleTemplate: 'F4F %s',
    };
  },
  methods: {
    deleteBlueprint() {
      let blueprintId = this.id;
      this.$store.dispatch('deleteBlueprint', blueprintId )
      .then(response => {
          this.$router.push({ path: '/'})
      });
    },
    toggleStar() {
      let blueprintId = this.id;
      let action = this.starred? 'removeFavorite': 'saveAsFavorite';
        this.$store.dispatch(action, blueprintId )
        .then(response => {
            this.starred = response.data;
        });
    },
    submitComment() {
      let blueprintId = this.id;
      let comment = this.commentEditorContent;
      this.$store.dispatch('postComment', { blueprintId, comment })
        .then(response => {
          this.commentEditorContent = '';
          this.refreshComments();
        });
    },
    deleteComment(commentId) {
      this.$store.dispatch('removeComment', commentId)
        .then(response => {
          this.refreshComments();
        });
    },
    refreshComments() {
      this.$store.dispatch('getComments', this.id)
        .then(response => {
          this.comments = response.data;
        });
    },
    refreshTags() {
      this.$store.dispatch('getTags', this.id)
        .then(response => {
          this.tags = response.data;
        });
    },
    addTag() {
      let blueprintId = this.id;
      let tag = this.tagEditorContent;
      this.$store.dispatch('addTag', { blueprintId, tag })
        .then(response => {
          this.tagEditorContent = '';
          this.refreshTags();
        });
    },
    removeTag(tag) {
      let blueprintId = this.id;
      this.$store.dispatch('removeTag', { blueprintId, tag })
        .then(response => {
          this.refreshTags();
        });
    }
  },
  computed: {
    tagDB: function() {
      return this.$store.state.tagList;
    },
    blueprintList: function() {
      return util.blueprintListFromJsonData(this.blueprintData);
    },
    ownedByLoggedUser: function() {
      return this.apiResponse.username === this.$store.state.userdata.username;
    },
    userLogged: function() {
      return this.$store.state.userdata.username
    },
    saveButtonLabel() {
      if(this.starred) {
        return 'Saved';
      } else {
        return 'Save';
      }
    }
  },
  mounted() {
    axios.get(`/blueprint/` + this.id)
    .then(response => {
      // JSON responses are automatically parsed.
      this.apiResponse = response.data;
      try {
        this.blueprintData = util.decodeBlueprint(this.apiResponse.encoded);
      } catch (err) {
        this.$store.commit('error', err)
      }
      this.$refs.markdownRender.innerHTML = marked(this.apiResponse.description);
    })
    .catch(e => {
      this.$store.commit('error', e.response.data)
    })

    if(this.userLogged) {
      this.$store.dispatch('isFavorite', this.id)
        .then(response => {
          this.starred = response.data;
        })

      this.$store.dispatch('loadExistingTagList');
    }

    this.refreshComments(); 
    this.refreshTags();    
  }
}
</script>
<style lang="scss" scoped>
pre {
  text-align: left;
}

#add-tag-btn {
  width:50px;
  margin-left:5px;
}
</style>

