<template>
  <div class="overflow-auto">

    <div class="site-header">
      <h4>Find and share blueprints from the best base building game of all time <a href="https://factorio.com">Factorio</a></h4>
    </div>

    <b-form id="filter-form" @submit.prevent="onSubmit" @reset="onReset">
      <b-container>
        <b-row>
          <b-col>
              <b-form-input
                v-model="searchText"
                placeholder="Search"
              ></b-form-input>
          </b-col>
          <b-col>
            <b-form @submit.prevent="addTag">
              <b-form-input
                v-model="tagEditorContent"
                required
                placeholder="Tags"
                list="tag-list">
              </b-form-input>
              <datalist id="tag-list">
                <option v-for="value in tagDB" v-bind:key="value">{{value}}</option>
              </datalist>
            </b-form>
            <b-badge
              v-for="tag in tags"
              v-bind:key="tag"
              variant="warning"
              style="margin: 2px;">
              {{tag}}
              <b-button variant="primary"  
                v-on:click="removeTag(tag)" style="padding:7px;">
                  <font-awesome-icon icon="times"></font-awesome-icon>
              </b-button>
            </b-badge>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-card>
              <div>Contains:</div>
              <b-button  variant="primary" v-for="(item, index) in entities" 
                v-bind:key="index" v-on:click="removeFrom(entities, item)" style="padding:7px;">
                <FactorioIcon :icon-id="item"/>
                <font-awesome-icon icon="times"></font-awesome-icon>
              </b-button>
              <b-button v-b-toggle.entity-chooser variant="primary">
                <font-awesome-icon icon="plus-square"></font-awesome-icon>
              </b-button>
            </b-card>
          </b-col>
          <b-col>
            <b-card>
              <div>Produces:</div>
              <b-button  variant="primary" v-for="(item, index) in recipes" 
                v-bind:key="index" v-on:click="removeFrom(recipes, item)" style="padding:7px;">
                <FactorioIcon :icon-id="item"/>x
              </b-button>
              <b-button v-b-toggle.recipe-chooser variant="primary">
                <font-awesome-icon icon="plus-square"></font-awesome-icon>
              </b-button>
            </b-card>
          </b-col>
        </b-row>
        <b-row>
            <b-collapse id="entity-chooser" class="mt-2">
              <div>
                <b-tabs card>
                  <b-tab v-for="group in fd.inventoryLayout" :key="group.name" :title="group.name">
                      <b-container>
                          <b-row v-for="subgroup in validSubGroups(group)" :key="subgroup.name">
                            <b-button v-for="item in subgroup.items" :key="item.name" variant="primary"
                              v-on:click="addToAndCollapse(entities, item.name, 'entity-chooser')" style="padding:7px;">
                              <FactorioIcon :icon-id="item.name"/>
                            </b-button>
                          </b-row>
                      </b-container>
                  </b-tab>
                </b-tabs>
              </div>
            </b-collapse>
        </b-row>
        <b-row>
            <b-collapse id="recipe-chooser" class="mt-2">
              <div>
                <b-tabs card>
                  <b-tab v-for="group in fd.inventoryLayout" :key="group.name" :title="group.name">
                      <b-container>
                          <b-row v-for="subgroup in validSubGroups(group)" :key="subgroup.name">
                            <b-button v-for="item in subgroup.items" :key="item.name" variant="primary" 
                              v-on:click="addToAndCollapse(recipes, item.name, 'recipe-chooser')" style="padding:7px;">
                              <FactorioIcon :icon-id="item.name"/>
                            </b-button>
                          </b-row>
                      </b-container>
                  </b-tab>
                </b-tabs>
              </div>
            </b-collapse>
        </b-row>
      </b-container>
      <div class="text-center">
        <b-button type="submit" variant="primary" size="lg">Search</b-button>
        <b-button type="reset" variant="primary" size="lg">Clear</b-button>
      </div>
    </b-form>
    <b-table
        striped bordered 
        :items="items" 
        :fields="fields" 
        :no-local-sorting="true"
        @sort-changed="sortingChanged">
      <template v-slot:cell(title)="data">
        <span v-if="data.item.is_book">
          <FactorioIcon icon-id="blueprint-book"/>
        </span>
        <span v-if="!data.item.is_book">
          <FactorioIcon icon-id="blueprint"/>
        </span>
        <b-link :to="'/' + data.item.id" style="font-size:1.5rem;margin:5px">{{data.item.title}}</b-link>
        <div>{{data.item.subtitle}}</div>
        <div>{{data.item.created_at | formatDate}}</div>
        <h4>
          <b-badge
            variant="warning"
            v-for="tag in data.item.tags"
            v-bind:key="tag"
            v-on:click="onTagClick(tag)"
            href="#"
            style="margin: 2px;">
            {{tag}}
          </b-badge>
        </h4>
      </template>
      <template v-slot:head(stars)="data">
          <font-awesome-icon :icon="data.label"></font-awesome-icon>
      </template>
      <template v-slot:cell(stars)="data">
          <div>{{data.item.star_count}}</div>
      </template>
      <template v-slot:cell(entities)="data">
        <div>
          <span v-for="(entity, index) in data.item.entities" v-bind:key="entity">
            <FactorioIcon v-if="index < nbIconsInList" :icon-id="entity"/>
          </span>
        </div>
        <div v-if="data.item.entities.length > nbIconsInList">
          <div :id="'more-entities-' + data.item.id" style="text-align:right;">
            {{data.item.entities.length - nbIconsInList}} more
          </div>
          <b-popover :target="'more-entities-' + data.item.id" triggers="hover" placement="bottom">
            <div>
              <FactorioIcon v-for="entity in data.item.entities" v-bind:key="entity" :icon-id="entity"/>
            </div>
          </b-popover>
        </div>
      </template>
      <template v-slot:cell(recipes)="data">
        <div>
          <span v-for="(recipe, index) in data.item.recipes" v-bind:key="recipe">
            <FactorioIcon v-if="index < nbIconsInList" :icon-id="recipe"/>
          </span>
        </div>
        <div v-if="data.item.recipes.length > nbIconsInList">
          <div :id="'more-recipes-' + data.item.id" style="text-align:right;">
            {{data.item.recipes.length - nbIconsInList}} more
          </div>
          <b-popover :target="'more-recipes-' + data.item.id" triggers="hover" placement="bottom">
            <div>
              <FactorioIcon v-for="recipe in data.item.recipes" v-bind:key="recipe" :icon-id="recipe"/>
            </div>
          </b-popover>
        </div>
      </template>
    </b-table>
    <b-pagination-nav v-if="nbPages > 0" :link-gen="linkGen" :number-of-pages="nbPages" use-router/>
</div>
</template>

<script>
import axios from 'axios';
import moment from 'moment';
import renderer from 'blueprint-renderer';
import _ from 'lodash';
import FactorioIcon from '../components/FactorioIcon.vue'
import util from '../util'

let sortFieldApiFromItemFieldName = {
    created_at: 'CreatedAt',
    title: 'Title',
    last_updated_at: 'LastUpdatedAt'
};

export default {
  props: {
    listType: String,
    sort_field: String
  },
  data: function() {
    return {
      nbIconsInList: 16,
      nbPages: 1,
      sortBy: '',
      sortDesc: true,
      items: [],
      recipes: [],
      entities: [],
      tags: [],
      tagEditorContent: '',
      searchText: '',
      fields: [
        {
          key: 'title'
        },
        {
          key: 'stars',
          label: 'star'
        },
        {
          key: 'entities',
          thStyle: {width:'160px'},
          label: 'Entities'
        },
        {
          key: 'recipes',
          thStyle: {width:'160px'},
          label: 'Recipes'
        }
      ],
      fd: renderer.FD
    }
  },
  metaInfo() {
    return {
      title: 'Fuel 4 Factorio',
    };
  },
  components: {
      FactorioIcon
  },
  computed: {
    tagDB: function() {
      return this.$store.state.tagList;
    },
  },
  created() {
    this.fetchData();
    this.$store.dispatch('loadExistingTagList');
  },
  watch: {
      // call again the method if the route changes
      '$route': 'fetchData'
  },
  methods: {
    validSubGroups(group) {
      return _.filter(group.subgroups, (subgroup) => !subgroup.name.endsWith('barrel'));
    },
    onSubmit: function() {
      this.onFilterUpdate();
    },
    onReset: function() {
      this.entities = [];
      this.recipes = [];
      this.tags = [];
      this.searchText = '';
      this.onFilterUpdate();
    },
    addToAndCollapse(target, itemId, collapseId) {
      this.addTo(target, itemId);
      this.$root.$emit('bv::toggle::collapse', collapseId);
    },
    addTo(target, itemId) {
      if(_.indexOf(target, itemId) === -1) {
        target.splice(target.length, 0, itemId);
      }
      this.onFilterUpdate();
    },
    removeFrom(target, itemId) {
      let itemIndex = _.indexOf(target, itemId);
      if(itemIndex !== -1) {
        target.splice(itemIndex, 1);
      }
      this.onFilterUpdate();
    },
    addTag() {
      this.addTo(this.tags, this.tagEditorContent);
      this.tagEditorContent = '';
    },
    removeTag(tagContent) {
      this.removeFrom(this.tags, tagContent);
    },
    onTagClick(tagValue) {
      this.addTo(this.tags, tagValue);
    },
    allowed_group(name) {
        return !name.startsWith('fill')
            && !name.startsWith('empty')
            && !name.startsWith('infinity');
    },
    onFilterUpdate() {
        this.$route.query.page = 1;
        this.fetchData();
    },
    fetchData() {
        let filtered_recipes = _.map(this.recipes, (key) => util.convertGameDataToApiName(key));
        let filtered_entities = _.map(this.entities, (key) => util.convertGameDataToApiName(key));
        let url = '/blueprint' + this.listType + '?page_size=10';
        if(this.searchText !== '') {
          url = url + '&text=' + this.searchText;
        }
        if(filtered_recipes.length > 0) {
            url = url + '&recipes=' + filtered_recipes.join(',');
        }
        if(filtered_entities.length > 0) {
            url = url + '&entities=' + filtered_entities.join(',');
        }
        if(this.tags.length > 0) {
            url = url + '&tags=' + this.tags.join(',');
        }
        if (this.$route.query.page) {
            url = url + '&page=' + this.$route.query.page;
        }
        url = url + '&sort_field=' + this.sort_field;
        axios.get(url,
            {withCredentials: true})
            .then(response => {
                this.nbPages = response.data.nb_pages
                this.items = response.data.items;
            })
            .catch(e => {
              this.$store.commit('error', e.response.data)
            })
    },
    linkGen(pageNum) {
        return pageNum === 1 ? '?' : `?page=${pageNum}`
    },
    sortingChanged(ctx) {
        this.sortBy = ctx.sortBy;
        this.sortDesc = ctx.sortDesc;
        this.fetchData();
    }
  }
}
</script>

<style lang="scss">
#filter-form .col {
  padding:5px;
}

.site-header {
  text-align: center;
  padding: 10px 25px 0px 25px;
}
</style>
