<template>
    <div>
        <div>
          <button type="submit" class="btn btn-warning" v-on:click="submit">Submit</button>
        </div>
        <BlueprintEditor v-on:submit="submit" :blueprint="blueprint"/>
    </div>
</template>
<script>
import axios from 'axios';
import BlueprintEditor from '../components/BlueprintEditor.vue'

export default {
    data: function() {
        return {
            blueprint: {
                encoded: '',
                title: '',
                subtitle: '',
                description: ''
            }
        }
    },
    metaInfo() {
        return {
            title: this.blueprint.title,
            titleTemplate: 'F4F %s',
        };
    },
    components: {
        BlueprintEditor
    },
    methods: {
        submit() {
            let router = this.$router
            axios.post(`/blueprint`, {
                title: this.blueprint.title,
                subtitle: this.blueprint.subtitle,
                src_url: this.blueprint.src_url,
                encoded: this.blueprint.encoded,
                description: this.blueprint.description,
                tags: []},
                {withCredentials: true})
            .then(() => {
                router.push({ path: '/'})
            })
            .catch((e) => {
                this.$store.commit('error', e.response.data)
            })
        }
    }
}
</script>
