<template>
    <div>
        <b-card title="Issues, suggestions ?">
            <b-card-text>
                The source code of this site is available on <a href="https://gitlab.com/lbobinet/fuelforfactorio">Gitlab</a><br>
                Issues and PR are welcome !
            </b-card-text>
            <b-card-text>
                You can also contact through <a href="https://www.reddit.com/user/boobinn">Reddit</a> or <a href="mailto:admin@fuelforfactorio.com">email</a>
            </b-card-text>
        </b-card>
    </div>
</template>
<script>
export default {
    metaInfo() {
      return {
        title: 'Fuel 4 Factorio - Contact',
      };
    }
}
</script>