<template>
  <div style="max-width:500px;margin:auto;">
    <h2>Enter credentials</h2>
    <b-form @submit.prevent="onSubmit" @reset="onReset">
      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="email"
          type="email"
          required
          placeholder="Enter email"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-2" label="Password:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="pwd"
          type="password"
          required
          placeholder="Password"
        ></b-form-input>
        <small><b-link to="/reset">Lost password</b-link></small>
      </b-form-group>
      
      <b-button type="submit" variant="primary">Submit</b-button>
    </b-form>
  </div>
</template>
<script>
import axios from 'axios'

export default {
    data: function() {
        return {
            email: '',
            pwd: ''
        }
    },
    metaInfo() {
      return {
        title: 'Fuel 4 Factorio - Login',
      };
    },
    methods: {
        onSubmit : function() {
          let email = this.email 
          let password = this.pwd
          this.$store.dispatch('login', { email, password })
            .then(() => this.$router.push('/'));
        },
        onReset : function() {
          this.email = '',
          this.pwd = ''
        }
    }
}
</script>
