<template>
  <div style="max-width:500px;margin:auto;">
    <h2 v-if="!reset">Receive a registration link in your inbox</h2>
    <h2 v-if="reset">Receive a password change link in your inbox</h2>
    <b-form @submit.prevent="onSubmit" @reset="onReset">
      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
        description="We'll never share your email with anyone else."
      >
        <b-form-input
          id="input-1"
          v-model="email"
          type="email"
          required
          placeholder="Enter email"
        ></b-form-input>
      </b-form-group>
      
      <b-button type="submit" variant="primary">Submit</b-button>
    </b-form>
  </div>
</template>
<script>
import axios from 'axios'

export default {
    props: {
        reset: Boolean
    },
    data: function() {
        return {
            email: ''
        }
    },
    metaInfo() {
      return {
        title: 'Fuel 4 Factorio',
      };
    },
    methods : {
        onSubmit() {
          let email = this.email;
          if(this.reset) {
            this.$store.dispatch('sendResetPasswordRequest', email)
              .then(() => this.$router.push('/'));
          } else {
            this.$store.dispatch('sendRegistrationRequest', email)
              .then(() => this.$router.push('/'));
          }
        },
        onReset() {
            this.email = '';
        }
    }
}
</script>

