<template>
  <div style="max-width:500px;margin:auto;">
    <h2 v-if="!reset">Account details</h2>
    <h2 v-if="reset">Choose your new password</h2>
    <b-form @submit.prevent="onSubmit" @reset="onReset">
      <b-form-group
        id="input-group-1"
        label="Email address:"
        label-for="input-1"
        description="We'll never share your email with anyone else."
      >
        <b-form-input
          id="input-1"
          v-model="email"
          type="email"
          required
          placeholder="Enter email"
        ></b-form-input>
      </b-form-group>

      <b-form-group v-if="!reset" id="input-group-2" label="Username:" label-for="input-2">
        <b-form-input
          id="input-2"
          v-model="username"
          required
          placeholder="Username"
        ></b-form-input>
      </b-form-group>

      <b-form-group id="input-group-3" label="Password:" label-for="input-3">
        <b-form-input
          id="input-3"
          v-model="pwd"
          type="password"
          required
          placeholder="Password"
        ></b-form-input>
      </b-form-group>
      
      <b-button type="submit" variant="primary">Submit</b-button>
    </b-form>
  </div>
</template>
<script>
import axios from 'axios'

export default {
    props: {
        invitationid: String,
        reset: Boolean
    },
    data: function() {
        return {
            email: '',
            pwd: '',
            username: ''
        }
    },
    metaInfo() {
      return {
        title: 'Fuel 4 Factorio',
      };
    },
    methods: {
        onSubmit : function() {
          let invitationId = this.invitationid;
          let password = this.pwd;

          if(this.reset) {
            this.$store.dispatch('sendNewPasswordData', { invitationId, password })
              .then(() => this.$router.push('/'));
          } else {
            let username = this.username;
            this.$store.dispatch('sendRegistrationData', { invitationId, username, password })
              .then(() => this.$router.push('/'));
          }
        },
        onReset : function() {
          this.email = '';
          this.pwd = '';
          this.username = '';
        }
    }
}
</script>

